---
layout: ""
page_title: "HAProxy Provider"
description: |-
  The HAProxy provider interacts with the Data Plane API to manage HAProxy resources.
---

# HAProxy Provider

The HAProxy provider interacts with the Data Plane API to manage HAProxy resources. The provider needs to be configured with the proper credentials before it can be used.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
